<nav-bar></nav-bar>

<div class="container">
  ЗАГРУЗКА ТРУДОВЫХ ДОГОВОРОВ
  <p>
    Это статические части договоров, которые будут вставлены к динамическим
  </p>

  <div class="row">
    <div class="col-9">
      <div class="form-group" *ngFor="let one of contracts">
        <file-uploader [size]="size" class="float-right"
                       url="upload/labor-contract?type={{one.type}}"
                       uploaderClass="btn btn-warning btn-sm"
                       (callback)="ngOnInit()"
                       accept=".docx"></file-uploader>
        <label>{{one.name}}</label>
        <div class="form-control">
          {{one.url}}
        </div>
      </div>
    </div>
  </div>
</div>