
body {
  min-height: 100vw;
}

.w200  {
  width: 200px;
}
.w150  {
  width: 150px;
}
.w100  {
  width: 100px;
}
.w300  {
  width: 300px;
}


#toast-container > div.toast {
  width: auto;
  min-width: 500px;
  max-width: 90vw;
}