
<div class="float-right">
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить</button>
</div>
ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА
<table class="table table-sm table-responsive-sm table-bordered">
  <tr>
    <th colspan="2" class="text-center">Дата</th>
    <th rowspan="2">Специальность (направление, профессия)</th>
    <th colspan="3">Документ (диплом, свидетельство)</th>
    <th rowspan="2" class="text-center">Основание</th>
    <th rowspan="2"><button class="btn btn-sm btn-success" (click)="addRow()">Добавить</button></th>
  </tr>
  <tr>
    <th class="text-center">начала переподготовки</th>
    <th class="text-center">окончания переподготовки</th>
    <th class="text-center">наименование</th>
    <th class="text-center">номер</th>
    <th class="text-center">дата</th>
  </tr>
  <tr *ngFor="let p of profRetrainings; let i = index">
    <td><input type="date" [(ngModel)]="p.startEduDate" class="form-control"></td>
    <td><input type="date" [(ngModel)]="p.endEduDate" class="form-control"></td>
    <td><input type="text" [(ngModel)]="p.specialty" class="form-control"></td>
    <td><input type="text" [(ngModel)]="p.docName" class="form-control"></td>
    <td><input type="text" [(ngModel)]="p.docNumber" class="form-control"></td>
    <td><input type="date" [(ngModel)]="p.docDate" class="form-control"></td>
    <td><input type="text" [(ngModel)]="p.reason" class="form-control"></td>
    <td><button class="btn btn-sm btn-danger" (click)="deleteRow(i)">Удалить</button></td>
  </tr>
</table>