
<div class="float-right">
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить</button>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label>ОБРАЗОВАНИЕ</label>
    <select [(ngModel)]="worker.educationName" class="form-control w300">
      <option value="среднее (полное) общее">Среднее (полное) общее</option>
      <option value="начальное профессиональное">Начальное профессиональное</option>
      <option value="среднее профессиональное">Среднее профессиональное</option>
      <option value="высшее профессиональное">Высшее профессиональное</option>
    </select>
  </div>
  <div class="form-group">
    <label class="col-form-label">Иностранный язык</label>
    <div class="row">
      <div class="col-4">
        <input type="text" [(ngModel)]="worker.foreignLanguage" class="form-control">
        <small class="form-text text-muted">наименование</small>
      </div>
      <div class="col-4">
        <input type="text" [(ngModel)]="worker.foreignLanguageGrade" class="form-control">
        <small class="form-text text-muted">степень знания</small>
      </div>
    </div>

  </div>

  <table class="table table-sm table-responsive-sm table-bordered">
    <tr>
      <th rowspan="2">Наименование образовательного учреждения</th>
      <th colspan="3">Документ об образовании, о квалификации или наличии специальных знаний</th>
      <th rowspan="2">Год окончания</th>
      <th rowspan="2">Квалификация по документу об образовании</th>
      <th rowspan="2">Направление или специальность по документу</th>
      <th rowspan="2">
        <button class="btn btn-sm btn-success"
                (click)="addInst()"
                [hidden]="worker.institutions?.length > 1">Добавить</button>
      </th>
    </tr>
    <tr>
      <th class="text-center">наименование</th>
      <th class="text-center">серия</th>
      <th>номер</th>
    </tr>
    <tr *ngFor="let q of worker.institutions; let i = index">
      <td><input type="text" [(ngModel)]="q.name" class="form-control"></td>
      <td><input type="text" [(ngModel)]="q.docName" class="form-control"></td>
      <td><input type="text" [(ngModel)]="q.docCode" class="form-control"></td>
      <td><input type="text" [(ngModel)]="q.docNumber" class="form-control"></td>
      <td><input type="date" [(ngModel)]="q.endDate" class="form-control"></td>
      <td><input type="text" [(ngModel)]="q.qualification" class="form-control"></td>
      <td><input type="text" [(ngModel)]="q.specialty" class="form-control"></td>
      <td><button class="btn btn-sm btn-danger" (click)="deleteInst(i)">Удалить</button></td>
    </tr>
  </table>
  <br>
  <div class="form-group">
    <label>Послевузовское профессиональное образование</label>
    <select [(ngModel)]="worker.afterInstEduName" class="form-control w300">
      <option value="аспирантура">аспирантура</option>
      <option value="адъюнктура">адъюнктура</option>
      <option value="докторантура">докторантура</option>
    </select>
  </div>
  <table class="table table-sm table-responsive-sm table-bordered">
    <tr>
      <th>Наименование образовательного, научного учреждения</th>
      <th>Документ об образовании, номер, дата выдачи</th>
      <th>Год окончания</th>
      <th>Направление или специальность по документу</th>
    </tr>
    <tr>
      <td><input type="text" [(ngModel)]="worker.scientificInst.name" class="form-control"></td>
      <td><textarea [(ngModel)]="worker.scientificInst.fullInfo" class="form-control" rows="3"></textarea></td>
      <td><input type="date" [(ngModel)]="worker.scientificInst.endDate" class="form-control"></td>
      <td><input type="text" [(ngModel)]="worker.scientificInst.specialty" class="form-control"></td>
    </tr>
  </table>
</div>

