
<div class="float-right">
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить</button>
</div>
ПОВЫШЕНИЕ КВАЛИФИКАЦИИ
<table class="table table-sm table-responsive-sm table-bordered">
  <colgroup>
    <col class="w150">
    <col class="w150">
  </colgroup>
  <tr>
    <th colspan="2" class="text-center">Дата</th>
    <th rowspan="2">Вид повышения квалификации</th>
    <th rowspan="2">Наименование образовательного учреждения, место его нахождения</th>
    <th colspan="3">Документ(удостоверение, свидетельство)</th>
    <th rowspan="2">Основание</th>
    <th rowspan="2"><button class="btn btn-sm btn-success" (click)="addRow()">Добавить</button></th>
  </tr>
  <tr>
    <th class="text-center">начала обучения</th>
    <th class="text-center">окончания обучения</th>
    <th>наименование</th>
    <th>серия, номер</th>
    <th class="text-center">дата</th>
  </tr>
  <tr *ngFor="let q of qualImprovement; let i = index">
    <td><input type="date" [(ngModel)]="q.startEduDate" class="form-control"></td>
    <td><input type="date" [(ngModel)]="q.endEduDate" class="form-control"></td>
    <td><input type="text" [(ngModel)]="q.type" class="form-control"></td>
    <td><input type="text" [(ngModel)]="q.institutionName" class="form-control"></td>
    <td><input type="text" [(ngModel)]="q.docName" class="form-control"></td>
    <td><input type="text" [(ngModel)]="q.docNumber" class="form-control"></td>
    <td><input type="date" [(ngModel)]="q.docDate" class="form-control"></td>
    <td><input type="text" [(ngModel)]="q.reason" class="form-control"></td>
    <td><button class="btn btn-sm btn-danger" (click)="deleteRow(i)">Удалить</button></td>
  </tr>
</table>