
<nav-bar></nav-bar>
<div class="btn-group">
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-sm btn-outline-success dropdown-toggle">
      Меню <i class="fa fa-bars"></i>
    </button>
    <div class="dropdown-menu" *dropdownMenu>
      <a [routerLink]="['/staff-edit', id]" class="dropdown-item">1 Основная информация</a>
      <a [routerLink]="['labor-contract']" class="dropdown-item">1.1 Действующие трудовые договоры</a>
      <a routerLink="passport" class="dropdown-item">2 Паспорт</a>
      <a routerLink="education" class="dropdown-item">3 Образование</a>
      <a routerLink="qual-improvement" class="dropdown-item">4 Повышение квалификации</a>
      <a routerLink="family" class="dropdown-item">5 Состав семьи</a>
      <a routerLink="prof-retrainig" class="dropdown-item">6 Проф переподготовка</a>
      <a routerLink="attestation" class="dropdown-item">7 Аттестация</a>
      <a routerLink="army" class="dropdown-item">8 Воинский учет</a>
      <a routerLink="workplace" class="dropdown-item">9 Прием на работу</a>
      <a routerLink="reward" class="dropdown-item">10 Награды</a>
      <a routerLink="social-security" class="dropdown-item">11 Социальные льготы</a>
      <a routerLink="work-exp" class="dropdown-item">12 Стаж работы</a>
    </div>
  </div>
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-sm btn-outline-primary dropdown-toggle">
      Печать <i class="fa fa-download"></i>
    </button>
    <div class="dropdown-menu" *dropdownMenu>
      <print-button class="dropdown-item" url="print/t2?userId={{id}}">T2</print-button>
      <print-button class="dropdown-item"
                    *ngFor="let contr of contracts"
                    url="print/labor-contract/{{id}}?type={{contr.type}}">{{contr.name}}</print-button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
