
<button class="btn btn-sm btn-success" (click)="save()">Сохранить</button>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>№карт</label>
        <input type="text" [(ngModel)]="worker.number" class="form-control">
      </div>
      <div class="form-group">
        <label>ФИО</label>
        <input type="text" [(ngModel)]="worker.name" class="form-control">
      </div>
      <div class="form-group">
        <label>ИНН</label>
        <input type="text" [(ngModel)]="worker.inn" class="form-control">
      </div>
      <div class="form-group">
        <label>№страх</label>
        <input type="text" [(ngModel)]="worker.insurance" class="form-control">
      </div>
      <div class="form-group">
        <label>Дата рождения</label>
        <input type="text" [(ngModel)]="worker.birthDate" class="form-control">
      </div>
      <div class="form-group">
        <label>Место рождения</label>
        <input type="text" [(ngModel)]="worker.birthPlace" class="form-control">
      </div>
      <div class="form-group">
        <label>Гражданство</label>
        <input type="text" [(ngModel)]="worker.citizenship" class="form-control">
      </div>
      <div class="form-group">
        <label>Семейное положение</label>
        <input type="text" [(ngModel)]="worker.maritalStatus" class="form-control">
      </div>
      <div class="form-group">
        <label>Паспорт</label>
        <input type="text" [(ngModel)]="worker.passport" class="form-control">
      </div>
      <div class="form-group">
        <label>Паспорт выдан</label>
        <input type="text" [(ngModel)]="worker.passportIssued" class="form-control">
      </div>
      <div class="form-group">
        <label>Дата выдачи</label>
        <input type="text" [(ngModel)]="worker.passportDate" class="form-control">
      </div>
    </div>
    <div class="col-sm">
      Состав семьи

      <table class="table table-sm table-responsive-sm table-bordered">
        <tr class="">
          <th>Степень родства <br>(ближайшие родственники)</th>
          <th>Фамилия, имя, отчество</th>
          <th>Год рождения</th>
          <th><button class="btn btn-sm btn-success" (click)="addFamily()">Добавить</button></th>
        </tr>
        <tr *ngFor="let fam of worker.family; let i = index">
          <td><input type="text" [(ngModel)]="fam.relationshipDegree" class="form-control"></td>
          <td><input type="text" [(ngModel)]="fam.fullName" class="form-control"></td>
          <td><input type="text" [(ngModel)]="fam.birthYear" class="form-control"></td>
          <td><button class="btn btn-sm btn-danger" (click)="deleteFamily(i)">Удалить</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>


