<nav-bar></nav-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-8">
      <pagination-controls (pageChange)="currentPage=$event"
                           maxSize="9"
                           directionLinks="false"
                           autoHide="true"></pagination-controls>

      <table class="table table-sm table-responsive-sm table-bordered">
        <tr>
          <th>
            <input type="text" [(ngModel)]="fltr.surname" placeholder="поиск по фамилии" class="form-control form-control-sm">
          </th>
          <th>Подразделение</th>
          <th>Должность</th>
          <th>
            <button class="btn btn-group-sm btn-outline-warning  btn-sm"
                    *ngIf="!isGotFiredState"
                    (click)="createNewWorker()">
              Создать сотрудника <i class="fa fa-user-plus"></i>
            </button>
          </th>
        </tr>
        <tr *ngFor="let st of staffList
                    | filter : fltr
                    | paginate: { itemsPerPage: 200, currentPage: currentPage};
                    trackBy:trackByFn; let i = index">
          <td>
            <a [routerLink]="['../staff-edit', st.id]">{{st.surname}} {{st.name}} {{st.middleName}}</a>
          </td>
          <td>{{st.workplaces[0]?.department}}</td>
          <td>{{st.workplaces[0]?.specialty}}</td>
          <td>
            <button class="btn btn-danger btn-outline-danger btn-sm"
                    confirmButton
                    (callback)="deleteOne(st.id, i, true)"
                    userRole rights="1"
                    title="Полностью удалить из базы"
                    *ngIf="!isGotFiredState">Удалить</button>
            <button class="btn btn-danger btn-outline-danger btn-sm ml-1"
                    confirmButton="В архив?"
                    (callback)="deleteOne(st.id, false)"
                    *ngIf="!isGotFiredState">В архив</button>
            <button class="btn btn-danger btn-outline-danger btn-sm"
                    confirmButton="Восстановить?"
                    (callback)="restoreOne(st.id, false)"
                    *ngIf="isGotFiredState">Восстановить</button>
          </td>
        </tr>
      </table>

      <pagination-controls (pageChange)="currentPage=$event"
                           maxSize="9"
                           directionLinks="false"
                           autoHide="true"></pagination-controls>
    </div>

    <div class="col-sm-3 col-md-4">
      <div class="clearfix"></div>
      <p>Всего {{amount}} (Женщин {{amountW}}, Мужчин {{amountM}})</p>

      <div class="border rounded p-1" *ngIf="!isGotFiredState">
        <button class="btn btn-info float-right btn-sm dib ml-1"
                (click)="filterServer()">Искать</button>
        <button class="btn btn-outline-info float-right btn-sm dib ml-1"
                (click)="clearFilter()">Очистить</button>
        <button class="btn btn-outline-info float-right btn-sm dib ml-1"
                title="в документ попадет только первый активный тродовой договор"
                (click)="filterServerXls()">Скачать результат в excel</button>
        <button class="btn btn-outline-info float-right btn-sm dib ml-1"
                (click)="downloadContractsByFilter()">Скачать доп соглашения по ЗП</button>

        <div class="form-group">
          <label>Должность</label>
          <input type="text" [(ngModel)]="fltrServer.specialty" class="form-control form-control-sm">
          <label>Подразделение</label>
          <input type="text" [(ngModel)]="fltrServer.department" class="form-control form-control-sm">
          <label>Категория</label>
          <select [(ngModel)]="fltrServer.category" class="form-control form-control-sm">
            <option [ngValue]="null"></option>
            <option value="{{cat.value}}" *ngFor="let cat of staffCategoriesDict">{{cat.value}}</option>
          </select>
          <label>Вид работы / Условия привлечения</label>
          <select [(ngModel)]="fltrServer.attractionTerms" class="form-control form-control-sm">
            <option [ngValue]="null"></option>
            <option value="{{row.name}}" *ngFor="let row of attractionTermsDict">{{row.name}}</option>
          </select>
          <label>Образование</label>
          <select [(ngModel)]="fltrServer.educationName" class="form-control form-control-sm">
            <option [ngValue]="null"></option>
            <option [value]="row.name" *ngFor="let row of eduTypesDict">{{row.name}}</option>
          </select>
          <label>Повышение квалификации</label>
          <input type="text" [(ngModel)]="fltrServer.qualImprovementType" class="form-control form-control-sm">
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="fltrServer.disabilityDegree" class="form-check-input" id="disabilityDegree">
            <label class="form-check-label" for="disabilityDegree">Наличие инвалидности</label>
          </div>
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="fltrServer.hasNoSalary" class="form-check-input" id="hasNoSalary">
            <label class="form-check-label" for="hasNoSalary">Не заполнен оклад/ставка</label>
          </div>
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="fltrServer.hasScienceDegree" class="form-check-input" id="hasScienceDegree">
            <label class="form-check-label" for="hasScienceDegree">Наличие ученой степени</label>
          </div>
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="fltrServer.hasAcademicRank" class="form-check-input" id="hasAcademicRank">
            <label class="form-check-label" for="hasAcademicRank">Наличие ученого звания</label>
          </div>
          <label>Период окончания трудового договора, недель</label>
          <ng5-slider [(value)]="fltrServer.contractEndDateMin" [(highValue)]="fltrServer.contractEndDateMax" [options]="sliderOptionsContractEnd"></ng5-slider>
          <label>Возраст</label>
          <ng5-slider [(value)]="fltrServer.birthDateMin" [(highValue)]="fltrServer.birthDateMax" [options]="sliderOptionsBirth"></ng5-slider>
        </div>
      </div>

    </div>
  </div>
</div>
