
<ul class="nav justify-content-end">
  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/" class="nav-link"><i class="fa fa-home"></i></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a routerLink="/staff-list" class="nav-link">Сотрудники <i class="fa fa-users"></i></a>
  </li>
  <li class="nav-item" userRole rights="1" routerLinkActive="active">
    <a routerLink="/employment-contract" class="nav-link">
      Трудовые договоры <i class="fa fa-upload"></i>
    </a>
  </li>
  <li class="nav-item" userRole rights="1" routerLinkActive="active">
    <a routerLink="/got-fired-staff-list" class="nav-link">
      Уволенные <i class="fa fa-user-times"></i>
    </a>
  </li>
  <li class="nav-item" userRole rights="1" routerLinkActive="active">
    <a routerLink="/structure-editor" class="nav-link">
      Структура <i class="fa fa-university"></i>
    </a>
  </li>
  <li class="nav-item" userRole rights="1" routerLinkActive="active">
    <a routerLink="/admin-editor" class="nav-link">
      Создание пользователей <i class="fa fa-user-o"></i>
    </a>
  </li>
  <li class="nav-item" userRole rights="1" routerLinkActive="active">
    <a routerLink="/salary-editor" class="nav-link">
      Оклады <i class="fa fa-rub"></i>
    </a>
  </li>
</ul>
<div class="dib" userRole rights="1">
  <button (click)="createWorkersFromXls(false)">Загрузить одного</button>
  <button (callback)="createWorkersFromXls(true)" confirmButton="Уверен???">
    Загрузить ВЕСЬ(!) персонал
  </button>
  <button (click)="fillDBQualificationUpXls()">Загрузить квалификациюUP</button>
</div>
