
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a routerLink="/staff-list" class="nav-link">Сотрудники</a>
  </li>
  <li class="nav-item">
    <a routerLink="/contact" class="nav-link">Contact</a>
  </li>
  <li class="nav-item" userRole rights="1">
    <a routerLink="/employment-contract" class="nav-link">Загрузка трудовых договоров</a>
  </li>
  <li class="nav-item" userRole rights="1">
    <a routerLink="/admin-editor" class="nav-link">Создание пользователей</a>
  </li>
</ul>
<div class="dib" userRole rights="1">
  <button (click)="fillDBPersonnelByLocalXls(false)">Заполнить одного из локального файла</button>
  <button (click)="fillDBPersonnelByLocalXls(true)">!!!Заполнить весь персонал из локального файла!!!</button>
</div>
