<nav-bar></nav-bar>

<div class="container">
  <div class="alert alert-info">
    Чтобы разрешить открывать файлы docx скачанные браузером необходимо снять настройку в ворде:
    <br>
    Файл > Параметры > Центр управления безопасностью > Параметры центра управления безопасностью. >
    Защищенный просмотра > Снемите первую галочку "Включить защищенный просмотр для файлов из Интернета".
    <br>
    Для английской версии
    file > options > trust center > кнопка trust center settings > protected view > снемите первую галочку (enable protectd view for files ... from internet)
  </div>
</div>
<router-outlet></router-outlet>