<nav-bar></nav-bar>

<div class="container mt-3">
  <div class="alert alert-info">
    Приложение использует самые передовые технологие, поэтому старые браузеры не поддерживаются. Используйте всегда последние версии Chrome, Opera, Firefox. Пожелейте разработчиков, не используйте Internet Explorer, Edge, Safari и прочие порождения ада
  </div>
  <div class="alert alert-info">
    Чтобы разрешить открывать файлы docx скачанные браузером необходимо снять настройку в ворде:
    <br>
    Файл > Параметры > Центр управления безопасностью > Параметры центра управления безопасностью >
    Защищенный просмотра > Снимите первую галочку "Включить защищенный просмотр для файлов из Интернета"
    <br>
    Для английской версии
    file > options > trust center > кнопка trust center settings > protected view > снимите первую галочку (enable protectd view for files ... from internet)
  </div>

  <div class="alert alert-info">
    в списке работников отображается первый активный договор(если он есть)
  </div>

</div>
<router-outlet></router-outlet>