
<div class="float-right">
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить <i class="fa fa-floppy-o"></i></button>
</div>

ОБЩИЕ СВЕДЕНИЯ
<div class="container-fluid">
  <div *ngIf="workPlaces && !workPlaces.length" class="alert alert-danger">
    Необходимо сделать активным хотя бы один договор в таблице приема на работу
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>№карт</label>
        <input type="text" [(ngModel)]="worker.number" class="form-control">
      </div>
      <div class="form-group">
        <label>Фамилия</label>
        <input type="text" [(ngModel)]="worker.surname" class="form-control">
      </div>
      <div class="form-group">
        <label>Имя</label>
        <input type="text" [(ngModel)]="worker.name" class="form-control">
      </div>
      <div class="form-group">
        <label>Отчество</label>
        <input type="text" [(ngModel)]="worker.middleName" class="form-control">
      </div>
      <div class="form-group">
        <label>Профессия</label>
        <input type="text" [(ngModel)]="worker.profession" class="form-control">
        <small class="form-text text-muted">если несколько то разделите запятыми</small>
      </div>
      <div class="form-group">
        <label>Номер телефона</label>
        <input type="text" [(ngModel)]="worker.phone" class="form-control">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Идентификационный номер налогоплательщика</label>
        <input type="text" [(ngModel)]="worker.inn" class="form-control">
      </div>
      <div class="form-group">
        <label>Номер страхового свидетельства</label>
        <input type="text" [(ngModel)]="worker.insurance" class="form-control">
      </div>
      <div class="form-group">
        <label>Характер работы</label>
        <input type="text" [(ngModel)]="worker.workNature" class="form-control">
      </div>
      <div class="form-group">
        <label>Вид работы / Условия привлечения</label>
        <select [(ngModel)]="worker.workType" class="form-control">
          <option [ngValue]="null"></option>
          <option value="{{row.name}}" *ngFor="let row of attractionTermsDict">{{row.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Пол</label>
        <select [(ngModel)]="worker.sex" class="form-control">
          <option [ngValue]="null"></option>
          <option value="м">м</option>
          <option value="ж">ж</option>
        </select>
      </div>
      <div class="form-group">
        <label>Инвалидность, степень</label>
        <input type="text" [(ngModel)]="worker.disabilityDegree" class="form-control">
      </div>
      <div class="form-group">
        <label>Ученая степень, ученое звание</label>
        <input type="text" [(ngModel)]="worker.scientificRank" class="form-control">
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <input type="checkbox" [(ngModel)]="worker.medicalCert" id="medicalCert">
          </span>
          <label for="medicalCert" class="input-group-text">Медсправка</label>
        </div>
        <input type="date" [(ngModel)]="worker.medicalCertDate" class="form-control">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <input type="checkbox" [(ngModel)]="worker.psychoCert" id="psychoCert">
          </span>
          <label for="psychoCert" class="input-group-text">Психиатрическое освидетельствование</label>
        </div>
        <input type="date" [(ngModel)]="worker.psychoCertDate" class="form-control">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="worker.convictionCert" id="convictionCert">
        <label class="form-check-label" for="convictionCert">
          Справка об отсутствии судимости
        </label>
      </div>

    </div>

  </div>

  <div *ngIf="workPlaces?.length">
    <h5>Действующие трудовые договоры</h5>
    <table class="table table-sm table-responsive-sm table-bordered">
      <tr>
        <th>Номер трудового договора</th>
        <th>Дата трудового договора</th>
        <th>Дата окончания трудового договора</th>
        <th>Должность (специальность, профессия), разряд, класс (категория) квалификации</th>
        <th>Структурное подразделение</th>
        <th>Условия привлечения</th>
      </tr>
      <tr *ngFor="let w of workPlaces">
        <td>{{w.contractNumber}}</td>
        <td>{{w.contractDate | date}}</td>
        <td>{{w.contractEndDate | date}}</td>
        <td>{{w.specialty}}</td>
        <td>{{w.department}}</td>
        <td>{{w.attractionTerms}}</td>
      </tr>
    </table>
  </div>

</div>


