
<div class="float-right">

  <print-button url="print/t2?userId={{worker.id}}"></print-button>
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить</button>
</div>

ОБЩИЕ СВЕДЕНИЯ
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>№карт</label>
        <input type="text" [(ngModel)]="worker.number" class="form-control">
      </div>
      <div class="form-group">
        <label>Фамилия</label>
        <input type="text" [(ngModel)]="worker.surname" class="form-control">
      </div>
      <div class="form-group">
        <label>Имя</label>
        <input type="text" [(ngModel)]="worker.name" class="form-control">
      </div>
      <div class="form-group">
        <label>Отчество</label>
        <input type="text" [(ngModel)]="worker.middleName" class="form-control">
      </div>
      <div class="form-group">
        <label>Номер трудового договора</label>
        <input type="text" [(ngModel)]="worker.contractNumber" class="form-control">
      </div>
      <div class="form-group">
        <label>Дата  трудового договора</label>
        <input type="date" [(ngModel)]="worker.contractDate" class="form-control">
      </div>
      <div class="form-group">
        <label>Профессия</label>
        <input type="text" [(ngModel)]="worker.profession" class="form-control">
        <small class="form-text text-muted">если несколько то разделите запятыми</small>
      </div>
      <div class="form-group">
        <label>Номер телефона</label>
        <input type="text" [(ngModel)]="worker.phone" class="form-control">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Идентификационный номер налогоплательщика</label>
        <input type="text" [(ngModel)]="worker.inn" class="form-control">
      </div>
      <div class="form-group">
        <label>Номер страхового свидетельства</label>
        <input type="text" [(ngModel)]="worker.insurance" class="form-control">
      </div>
      <div class="form-group">
        <label>Алфавит</label>
        <input type="text" [(ngModel)]="worker.alphabet" class="form-control">
      </div>
      <div class="form-group">
        <label>Характер работы</label>
        <input type="text" [(ngModel)]="worker.workNature" class="form-control">
      </div>
      <div class="form-group">
        <label>Вид работы</label>
        <select [(ngModel)]="worker.workType" class="form-control">
          <option value="основная">основная</option>
          <option value="по совместительству">по совместительству</option>
        </select>
      </div>
      <div class="form-group">
        <label>Пол</label>
        <select [(ngModel)]="worker.sex" class="form-control">
          <option value="м">м</option>
          <option value="ж">ж</option>
        </select>
      </div>

    </div>
  </div>
</div>


