
<div class="float-right">
  <button class="btn btn-sm btn-outline-success ml-1" (click)="addRow()">Добавить</button>
  <button class="btn btn-sm btn-success ml-1" (click)="save()">Сохранить <i class="fa fa-floppy-o"></i></button>
</div>
ПРИЕМ НА РАБОТУ И ПЕРЕВОДЫ НА ДРУГУЮ РАБОТУ
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-sm btn-outline-primary dropdown-toggle">
    Печать <i class="fa fa-download"></i>
  </button>
  <div class="dropdown-menu" *dropdownMenu>
    <print-button class="dropdown-item" url="print/t2?userId={{id}}">T2</print-button>
    <span title="{{getTitleByActiveWorkplace()}}">
      <print-button class="dropdown-item"
                    [ngClass]="{'pointer-none':!selectedWorkplaceId}"
                    url="print/extra-contract?workplaceId={{selectedWorkplaceId}}&userId={{id}}">
        Доп соглашение
      </print-button>
    </span>
    <span title="{{getTitleByActiveWorkplace()}}">
      <print-button class="dropdown-item"
                    [ngClass]="{'pointer-none':!selectedWorkplaceId}"
                    url="print/fish?workplaceId={{selectedWorkplaceId}}&userId={{id}}">
        Рыба доп соглашения
      </print-button>
    </span>
    <span title="{{getTitleByActiveWorkplace()}}"
          *ngFor="let contr of contracts">
      <print-button class="dropdown-item"
                    [ngClass]="{'pointer-none':!selectedWorkplaceId}"
                    url="print/labor-contract/{{id}}?type={{contr.type}}&workplaceId={{selectedWorkplaceId}}">
            {{contr.name}}
          </print-button>

    </span>
  </div>
</div>
<div class="container-fluid">
  <table class="table table-sm table-responsive-sm table-bordered squeeze-date">
    <tr>
      <th rowspan="2"></th>
      <th rowspan="2">Акти- вный</th>
      <th rowspan="2">Дата</th>
      <th rowspan="2">Структурное подразделение</th>
      <th rowspan="2">Должность (специальность, профессия), разряд, класс (категория) квалификации</th>
      <th colspan="3" class="text-center">Трудовой договор</th>
      <th rowspan="2">Категория</th>
      <th rowspan="2">Коэффициент/Должносной оклад</th><!--salary-->
      <th rowspan="2">Условия привлечения</th><!--attractionTerms-->
      <th rowspan="2">Размер ставки</th><!--rate-->
      <th rowspan="2">Продо- лжитель- ность рабочей недели, час.</th><!--duration-->
      <th rowspan="2">Основание (приказ, дата, №)</th><!--reason-->
      <th rowspan="2">Ученый совет</th><!--academicCouncilDate-->
      <th colspan="4" class="text-center">Прекращение трудовых отношений</th>
      <th colspan="2" class="text-center">СОУТ</th>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <th>Номер</th>
      <th>Дата</th>
      <th>Дата окончания</th>
      <th>Увольнение, перевод, отмена совмещения</th>
      <th>Дата увольнения, перевода, отмены совмещения</th>
      <th>Основание (приказ, дата №)</th>
      <th>Статья ТК РФ</th>
      <th>Дата</th>
      <th>Класс условий</th>
    </tr>
    <tr *ngFor="let w of workplaces; let i = index">
      <td><input type="radio" name="for-print"
                 [(ngModel)]="selectedWorkplaceId"
                 [value]="w.id"
                 [disabled]="!w.active"></td>
      <td><input type="checkbox" [(ngModel)]="w.active" class="form-control form-control-sm"></td>
      <td><input type="date" [(ngModel)]="w.date" class="form-control form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.department" class="form-control w200 form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.specialty" class="form-control form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.contractNumber" class="form-control form-control-sm"></td>
      <td><input type="date" [(ngModel)]="w.contractDate" class="form-control form-control-sm"></td>
      <td><input type="date" [(ngModel)]="w.contractEndDate" class="form-control form-control-sm"></td>
      <td>
        <select [(ngModel)]="w.category" (ngModelChange)="onCategoryChange(w)" class="form-control form-control-sm">
          <option [ngValue]="null"></option>
          <option value="{{cat.value}}" [disabled]="cat.salary===0" *ngFor="let cat of staffCategoriesDict">
            {{cat.value}} / {{cat.name}} ({{cat.salary}})
          </option>
        </select>
      </td>
      <td>
        <input type="number"  class="form-control form-control-sm"
               [(ngModel)]="w.salaryCoef"
               [readonly]="!w.category || w.category && salaries[w.category] === 0">
        <span *ngIf="w.category && w.active && w.salaryCoef && salaries[w.category] && w.rate">
          {{salaries[w.category] * w.salaryCoef * w.rate}}
        </span>
      </td>
      <td>
        <select [(ngModel)]="w.attractionTerms" class="form-control form-control-sm">
          <option [ngValue]="null"></option>
          <option value="{{row.name}}" *ngFor="let row of attractionTermsDict">{{row.name}}</option>
        </select>
      </td>
      <td><input type="number" [(ngModel)]="w.rate" class="form-control w70 form-control-sm"></td>
      <td><input type="number" [(ngModel)]="w.duration" class="form-control form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.reason" class="form-control form-control-sm"></td>
      <td><input type="date" [(ngModel)]="w.academicCouncilDate" class="form-control form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.terminationReason" class="form-control form-control-sm"></td>
      <td><input type="date" [(ngModel)]="w.dismissalDate" class="form-control form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.dismissalGround" class="form-control form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.lawArticle" class="form-control form-control-sm"></td>
      <td><input type="date" [(ngModel)]="w.soutDate" class="form-control form-control-sm"></td>
      <td><input type="text" [(ngModel)]="w.soutClass" class="form-control form-control-sm"></td>
      <td><button class="btn btn-sm btn-danger" (click)="deleteRow(i)">Удалить</button></td>
    </tr>
  </table>
</div>
