
<div class="float-right">
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить <i class="fa fa-floppy-o"></i></button>
</div>
ПРИЕМ НА РАБОТУ И ПЕРЕВОДЫ НА ДРУГУЮ РАБОТУ
<div class="container-fluid">
  <table class="table table-sm table-responsive-sm table-bordered">
    <tr>
      <th rowspan="2">Действующий</th>
      <th rowspan="2">Дата</th>
      <th rowspan="2">Структурное подразделение</th>
      <th rowspan="2">Должность (специальность, профессия), разряд, класс (категория) квалификации</th>
      <th rowspan="2">Номер трудового договора</th>
      <th rowspan="2">Дата трудового договора</th>
      <th rowspan="2">Дата окончания трудового договора</th>
      <th rowspan="2">Тарифная ставка (оклад), надбавка, руб.</th>
      <th rowspan="2">Основание (приказ, дата, №)</th>
      <th rowspan="2">Ученый совет</th>
      <th rowspan="2">Условия привлечения</th>
      <th rowspan="2">Размер ставки</th>
      <th rowspan="2">Продолжительность рабочей недели, час.</th>
      <th rowspan="2">Категория</th>
      <th colspan="4">Прекращение трудовых отношений</th>
      <th colspan="2">СОУТ</th>
      <th rowspan="2">
        <button class="btn btn-sm btn-success" (click)="addRow()">Добавить</button>
      </th>
    </tr>
    <tr>
      <th>Увольнение, перевод, отмена совмещения</th>
      <th>Дата увольнения, перевода, отмены совмещения</th>
      <th>Основание (приказ, дата №)</th>
      <th>Статья ТК РФ</th>
      <th>Дата</th>
      <th>Класс условий</th>
    </tr>
    <tr *ngFor="let w of workplaces; let i = index">
      <td><input type="checkbox" [(ngModel)]="w.active" class="form-control"></td>
      <td><input type="date" [(ngModel)]="w.date" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.department" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.specialty" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.contractNumber" class="form-control"></td>
      <td><input type="date" [(ngModel)]="w.contractDate" class="form-control"></td>
      <td><input type="date" [(ngModel)]="w.contractEndDate" class="form-control"></td>
      <td><input type="number" [(ngModel)]="w.salary" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.reason" class="form-control"></td>
      <td><input type="date" [(ngModel)]="w.academicCouncilDate" class="form-control"></td>
      <td>
        <select [(ngModel)]="w.attractionTerms" class="form-control">
          <option value="{{row.name}}" *ngFor="let row of attractionTermsDict">{{row.name}}</option>
        </select>
      </td>
      <td><input type="number" [(ngModel)]="w.rate" class="form-control"></td>
      <td><input type="number" [(ngModel)]="w.duration" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.category" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.terminationReason" class="form-control"></td>
      <td><input type="date" [(ngModel)]="w.dismissalDate" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.dismissalGround" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.lawArticle" class="form-control"></td>
      <td><input type="date" [(ngModel)]="w.soutDate" class="form-control"></td>
      <td><input type="text" [(ngModel)]="w.soutClass" class="form-control"></td>
      <td><button class="btn btn-sm btn-danger" (click)="deleteRow(i)">Удалить</button></td>
    </tr>
  </table>
</div>
