
<div class="float-right">
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить <i class="fa fa-floppy-o"></i></button>
</div>
СОЦИАЛЬНЫЕ ЛЬГОТЫ, на которые работник имеет право в соответствии с законодательством
<div class="container-fluid">
  <table class="table table-sm table-responsive-sm table-bordered">
    <tr>
      <th rowspan="2" class="text-center">Наименование льготы</th>
      <th colspan="2" class="text-center">Документ</th>
      <th rowspan="2" class="text-center">Основание</th>
      <th rowspan="2"><button class="btn btn-sm btn-success" (click)="addRow()">Добавить</button></th>
    </tr>
    <tr>
      <th class="text-center">номер</th>
      <th class="text-center">дата</th>
    </tr>
    <tr *ngFor="let s of socialSec; let i = index">
      <td><input type="text" [(ngModel)]="s.name" class="form-control"></td>
      <td><input type="text" [(ngModel)]="s.docNumber" class="form-control"></td>
      <td><input type="date" [(ngModel)]="s.docDate" class="form-control"></td>
      <td><input type="text" [(ngModel)]="s.reason" class="form-control"></td>
      <td><button class="btn btn-sm btn-danger" (click)="deleteRow(i)">Удалить</button></td>
    </tr>
  </table>
</div>
