
<div class="float-right">
  <button class="btn btn-sm btn-success" (click)="save()">Сохранить <i class="fa fa-floppy-o"></i></button>
</div>
ПАСПОРТ
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Номер</label>
        <input type="text" [(ngModel)]="passport.number" class="form-control">
      </div>
      <div class="form-group">
        <label>Дата выдачи</label>
        <input type="date" [(ngModel)]="passport.passportDate" class="form-control">
      </div>
      <div class="form-group">
        <label>Выдан</label>
        <input type="text" [(ngModel)]="passport.passportIssued" class="form-control">
        <small class="form-text text-muted">наименование органа, выдавшего паспорт</small>
      </div>
      <div class="form-group">
        <label>Место рождения</label>
        <input type="text" [(ngModel)]="passport.birthPlace" class="form-control">
      </div>
      <div class="form-group">
        <label>Дата рождения</label>
        <input type="date" [(ngModel)]="passport.birthDate" class="form-control">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label>Гражданство</label>
        <input type="text" [(ngModel)]="passport.citizenship" class="form-control">
      </div>
      <div class="form-group">
        <label>Адрес места жительства</label>
        <textarea [(ngModel)]="passport.address" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Адрес места жительства (фактический)</label>
        <textarea [(ngModel)]="passport.addressFact" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Дата регистрации по месту жительства</label>
        <input type="date" [(ngModel)]="passport.passportRegDate" class="form-control">
      </div>
      <div class="form-group">
        <label>Состояние в браке</label>
        <select [(ngModel)]="passport.maritalStatus" class="form-control">
          <option [ngValue]="null"></option>
          <option value="Холост/не замужем">Холост/не замужем</option>
          <option value="Женат/замужем">Женат/замужем</option>
        </select>
      </div>
    </div>
  </div>
</div>
